@media screen and (max-width: 430px){
    .main_servicios{
        .main_servicios-imagen{
            width: 200px;
        }
        .main_servicios-subtitulo{
            margin-top: -20px;
        }
        .main_servicios-parrafo{
            margin-top: -40px;
        }
    }
}