@media screen and (max-width:515px){
    .main_index{
        .main_index-div{
            .main_index-parrafo{
                font-size: 19.5px;
                text-align: center;
                margin-right: 5px;
                margin-left: 5px;
            }
        }
    }
}