@media screen and (max-width: 818px ){
    .footer{
        .footer-iconos-div{
            margin-left: 80px;
        }
        .footer-iconos-div1{
            margin-left: 20px;
        }
        .footer-iconos-div2{
            margin-left: 80px;
        }
        .footer-lista{
            .footer-lista-div{
                margin-left: 300px;
            }
            .footer-lista-elemento{
                margin-left: -60px;
            }
        }
        .footer-links{
            margin-left: 40px;
            .footer-links-iconos{
                padding: 20px;
            }
        }
    }
}