@media screen and (max-width: 930px){
    .footer{
        .footer-iconos-div{
            margin-left: 150px;
        }
        .footer-iconos-div1{
            margin-left: 90px;
        }
        .footer-iconos-div2{
            margin-left: 150px;
        }
        .footer-lista{
            .footer-lista-elemento{
                margin-left: 10px;
                }
            .footer-lista-div{
                    margin-left: 400px;
                }
        }
        .footer-links{
        margin-left: 50px;
        }
    }   
}