@media screen and (max-width:320px){
    .footer{
        .footer-iconos-div{
            margin-left: 155px;
        }
        .footer-lista{
            .footer-lista-div{
                margin-left: 15px;
            }
            .numero{
                margin-left: 10px;
            }
        }
        .footer-links{
        margin-left: 15px;
        margin-top: -280px;
        }
    }
}