@media screen and (max-width:426px){
    .footer{
        .footer-iconos-div{
            margin-left: 205px;
        }
        .footer-lista{
            .footer-lista-div{
                margin-left: 60px;
            }
            .numero{
                margin-left: 60px;
            }
        .footer-links{
            margin-left: 70px;
            margin-top: -280px;
            }
        }
    }
}