@media screen and (max-width: 1180px){
    .footer{
        .footer-links{
        margin-left: 130px;
        margin-top: -140px;
    }
    .footer-lista{
            .footer-lista-div{
        position: relative;
        margin-left: 535px;
        margin-top: 40px;
        }   }
    }
}